# Participantes Open Banking Brasil

Acesse neste <a href="documents/acesso_dados_participantes_V2.pdf" target="_blank">*link*</a> a lista atual das instituições participantes do Open Banking Brasil com orientações. 

A especificação do arquivo de participantes pode ser acessada <a href="swagger/swagger_participants.yaml" target="_blank">**aqui**</a>. 
